<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>svg2font</title>
  <link rel="stylesheet" href="demo.css" />
  <link rel="stylesheet" href="iconfont.css" />
  <!-- Code highlighting -->
  <script src="https://a1.alicdn.com/oss/uploads/2018/12/26/a3f714d0-08e6-11e9-8a15-ebf944d7534c.js"></script>
  <script src="iconfont.js"></script>
</head>

<body>
  <div class="main">
    <h1>svg2font</h1>
    <div class="tab-container">
      <div class="content unicode" style="display: block;">
        <div class="article markdown">
          <h2 id="unicode-">Unicode reference</h2>
          <hr />
          <ul class="icon_lists dib-box">
            <div id="unicode-list"></div>
          </ul>
          <p>Unicode is the most primitive application of fonts on the web, with the following features:</p>
          <ul>
            <li>Best compatibility, supports IE6+, and all modern browsers. </li>
            <li>Supports dynamic adjustment of icon size, color, etc. by font. </li>
            <li>But because it's a font, it doesn't support multicolor. Only single-color icons in the platform can be
              used, even if there are multi-color icons in the project, they will be automatically decolorized. </li>
          </ul>
          <blockquote>
            <p>Note: The new version of fonticon supports multi-color icons. These multi-color icons cannot be used in
              Unicode mode. If there is a need, it is recommended to use the symbol reference method</p>
          </blockquote>
          <p>The steps for using Unicode are as follows:</p>
          <h3 id="-font-face">Step 1: Copy the <code>@font-face</code></h3> generated under the project
          <pre><code class="language-css"
>@font-face {
  font-family: 'fonticon';
  src: url('fonticon.eot');
  src: url('fonticon.eot?#iefix') format('embedded-opentype'),
      url('fonticon.woff2') format('woff2'),
      url('fonticon.woff') format('woff'),
      url('fonticon.ttf') format('truetype'),
      url('fonticon.svg#fonticon') format('svg');
}
</code></pre>
          <h3 id="-fonticon-">Step 2: Define styles that use fonticon</h3>
          <pre><code class="language-css"
>.fonticon {
  font-family: "fonticon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</code></pre>
          <h3 id="-">Step 3: Select the corresponding icon and get the font code to apply to the page</h3>
          <pre>
<code class="language-html"
>&lt;span class="fonticon"&gt;&amp;#x33;&lt;/span&gt;
</code></pre>
          <blockquote>
            <p>"fonticon" is the font-family under your project. It can be viewed by editing the project, the default is
              "fonticon". </p>
          </blockquote>
        </div>
      </div>
      <div class="content font-class" style="display: block;">

        <div class="article markdown">
          <h2 id="font-class-">font-class reference</h2>
          <hr />
          <ul class="icon_lists dib-box">
            <div id="class-list"></div>
          </ul>
          <p>font-class is a variant of Unicode usage, mainly to solve the problem of unintuitive Unicode writing and
            unclear semantic meaning. </p>
          <p>Compared with Unicode usage, it has the following characteristics:</p>
          <ul>
            <li>Good compatibility, supports IE8+, and all modern browsers. </li>
            <li>It is more intuitive to write than Unicode semantics. It's easy to tell what this icon is. </li>
            <li>Because classes are used to define icons, when you want to replace icons, you only need to modify the
              Unicode references in the class. </li>
            <li>However, multi-color icons are not supported because they are essentially the same fonts used. </li>
          </ul>
          <p>The steps are as follows:</p>
          <h3 id="-fontclass-">Step 1: Import the fontclass code generated under the project:</h3>
          <pre><code class="language-html">&lt;link rel="stylesheet" href="./fonticon.css"&gt;
</code></pre>
          <h3 id="-">Step 2: Select the corresponding icon and get the class name to apply to the page:</h3>
          <pre><code class="language-html">&lt;span class="fonticon icon-xxx"&gt;&lt;/span&gt;
</code></pre>
          <blockquote>
            <p>"
              fonticon" is the font-family under your project. You can view it by editing the project, the default is
              "fonticon".</p>
          </blockquote>
        </div>
      </div>
      <div class="content symbol" style="display: block;">

        <div class="article markdown">
          <h2 id="symbol-">Symbol reference</h2>
          <hr />
          <ul class="icon_lists dib-box">
            <div id="symbol-list"></div>
          </ul>
          <p>This is a brand-new way of use. It should be said that this is the mainstream in the future, and it is also
            the currently recommended usage of the platform. For more information, please refer to this <a
              href="">article</a>
            This usage is actually a collection of SVG, which has the following characteristics compared with the other
            two:</p>
          <ul>
            <li>Support multi-color icons, no longer limited by single color. </li>
            <li>With some tricks, it is supported to adjust styles like fonts through <code>font-size</code>,
              <code>color</code>. </li>
            <li>Poor compatibility, supports IE9+, and modern browsers. </li>
            <li>The performance of browser rendering SVG is average, not as good as png. </li>
          </ul>
          <p>The steps are as follows:</p>
          <h3 id="-symbol-">Step 1: Import the symbol code generated under the project:</h3>
          <pre><code class="language-html">&lt;script src="./fonticon.js"&gt;&lt;/script&gt;
</code></pre>
          <h3 id="-css-">Step 2: Add common CSS code (introduce once):</h3>
          <pre><code class="language-html">&lt;style&gt;
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
&lt;/style&gt;
</code></pre>
          <h3 id="-">Step 3: Select the corresponding icon and get the class name to apply to the page:</h3>
          <pre><code class="language-html">&lt;svg class="icon" aria-hidden="true"&gt;
  &lt;use xlink:href="#icon-xxx"&gt;&lt;/use&gt;
&lt;/svg&gt;
</code></pre>
        </div>
      </div>

    </div>
  </div>
</body>

</html>